
body {
	font: 14px "Century Gothic", Futura, sans-serif;
	margin: 20px;
}
.non
{
	/* background: radial-gradient(rgb(179, 39, 39), maroon); */
	border : 3px solid maroon;
	border-radius:30px;
	text-align: center;
	/* color:maroon; */;
	height:80vh;
}
.Central
{
	float:left;
	width:auto;
	text-align:auto;
	/* color :rgb(255, 109, 109);
	color :blue; */
}
.info
{
	background: radial-gradient(rgb(179, 39, 39), maroon);
	border : 3px solid maroon;
	border-radius:30px;
	text-align: center;
	/* width:fit-content; */
	color:white;
}
.username
{
	font-size: 100%;
	width: fit-content;
	padding: 5%;
	float:left;
}
.pp
{
	font-size: 100%;
	width: 500px;
	height:400px;
	padding: 5%;
	/* float:left; */
}
.genderblob
{
	font-size: 100%;
	width: fit-content;
	height:5px;
	padding: 5%;
	border-radius:50%;
	border:10px solid maroon;
	/* float:left; */
}
.age
{
	font-size: 100%;
	width: fit-content;
	padding: 5%;
	float :right;
}
.gender
{
	font-size: 100%;
	width: 600px;
	height:80px;
	padding: 2%;
	/* float:left; */
	
}
@-webkit-keyframes animate-stripes {
	100% { background-position: -100px 0px; }
 }
 
 @keyframes animate-stripes {
	100% { background-position: -100px 0px; }
 }
progress[value]::-webkit-progress-bar
{
	border-radius:10px;
	background-image:
	-webkit-linear-gradient(-45deg, 
							transparent 33%, rgba(0, 0, 0, .1) 33%, 
							rgba(0,0, 0, .1) 66%, transparent 66%),
	-webkit-linear-gradient(top, 
							rgba(255, 255, 255, .25), 
							rgba(0, 0, 0, .25)),
	-webkit-linear-gradient(right, #ff99cc, #ff99cc);
	-webkit-animation: animate-stripes 5s linear infinite;
        animation: animate-stripes 5s linear infinite;
}
progress[max]::-webkit-progress-value
{
	border-radius:10px 0 0 10px;
	background-image:
	   -webkit-linear-gradient(-45deg, 
	                           transparent 33%, rgba(0, 0, 0, .1) 33%, 
	                           rgba(0,0, 0, .1) 66%, transparent 66%),
	   -webkit-linear-gradient(top, 
	                           rgba(255, 255, 255, .25), 
	                           rgba(0, 0, 0, .25)),
	   -webkit-linear-gradient(left,#00bfff,#33ccff);
	   /* -webkit-animation: animate-stripes 5s linear infinite;
        animation: animate-stripes 5s linear infinite; */

}
.info:after
{
	clear: both;
	content: "";
	display: table;
}

.lisElement
{
	background: radial-gradient(rgb(179, 39, 39), maroon);
	border : 3px solid maroon;
	border-radius:10px;
	text-align: center;
	color: white;

}
ol, ul {
	padding-left: 30px;
}
  
.board-row:after {
clear: both;
content: "";
display: table;
}

.status {
margin-bottom: 10px;
}

.square {
background: #fff;
border: 1px solid #999;
float: left;
font-size: 24px;
font-weight: bold;
line-height: 34px;
height: 68px;
margin-right: -1px;
margin-top: -1px;
padding: 0;
text-align: center;
width: 68px;
}

.square:focus {
outline: none;
}

.kbd-navigation .square:focus {
background: #ddd;
}

.game {
display: flex;
flex-direction: row;
}

.game-info {
margin-left: 20px;
}